body {
  background-color: #90e0efff;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
}

/*About me page styling*/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.about-me .avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.avatar-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

/*general styling for the different pages*/
.content {
  padding: 2rem;
  min-height: calc(100vh - 160px);
  min-width: calc(100vw - 160px);
}

.content p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*contact page styling*/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #90e0efff;
  color: white;
}

.contact form {
  max-width: 400px;
}

.contact form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact form button {
  background-color: #0077b6ff;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.contact-information {
  text-align: center;
  margin-top: 2rem;
}

.contact-information h2 {
  font-size: 2rem;
}

.contact-information div {
  margin-bottom: 1rem;
}

.contact-information label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-information a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.contact-information a:hover {
  color: #00b4d8ff;
}

/*resume page styling*/
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.resume h2 {
  text-align: center;
  font-size: 2rem;
}

.resume p {
  font-size: 2.1rem;
}

.resume ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.resume li {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/*header and nav styling*/
header {
  background-color: #0077b6ff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.1rem;
}

nav a:hover {
  background-color: #00b4d8ff;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 5px;
}

nav .active {
  background-color: #00b4d8ff;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 5px;
}

/*Footer styling*/
footer {
  background-color: #0077b6ff;
  padding: 1rem 0;
  text-align: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  display: inline-block;
}

/*portfolio projects styling*/
.project-card {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.project-img {
  width: 15rem;
  max-height: 25rem;
}

.btn-primary {
  background-color: #00b4d8ff;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn-secondary {
  background-color: #0077b6ff;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/*starter vite and react logo styling for title*/
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*media queries for responsive design for all devices and creates mobile-first approach*/
/*the flexbox and rem units also create a fluid app for all devices*/
@media (min-width: 768px) {
  .avatar-img {
    width: 20rem;
    height: 20rem;
  }
  .project-img {
    width: 37rem;
    height: 15rem;
  }
  nav a {
    font-size: 1.35rem;
  }
}

@media (min-width: 992px) {
  .avatar-img {
    width: 25rem;
    height: 25rem;
  }
  .project-img {
    width: 50rem;
    height: 20rem;
  }
  nav a {
    font-size: 1.5rem;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
